@model MVCMusicStore2019.ViewModels.AlbumViewModel
@{
    ViewBag.Title = "系统管理员页面";
}

<h3>@ViewBag.Title</h3>

<div>
    <input type="hidden" id="CurrentGenreSelectedId" value="@Model.GenreId" />@*在修改时会用到*@
    <input type="hidden" id="CurrentArtistSelectedId" value="@Model.ArtistId" />
    <input type="hidden" id="CurrentAlbumTypeSelectedId" value="@Model.AlbumTypeId" />
</div>


@Html.ValidationSummary(true,"",new {@class="text-danger" })@*数据注解验证使用*@
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();
    <div class="form-group">
        @Html.LabelFor(x => x.Name, new { @class = "col-md-2 control-label" })
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Description, new { @class = "col-md-2 control-label" })
        @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    </div>
    //==============流派下拉菜单实现=====================
    <div class="form-group">
        @Html.LabelFor(x => x.GenreName, new { @class = "col-md-2 control-label" })
        <div id="GenreSelectList"></div>@*再次通过Ajax定义selectlist*@
    @*<div id="CurrentGenreSelectedId"></div>*@
    </div>

    //==============歌手下拉菜单实现=====================
    <div class="form-group">
        @Html.LabelFor(x => x.ArtistName, new { @class = "col-md-2 control-label" })
        <div id="ArtistSelectList"></div>@*再次通过Ajax定义selectlist*@
        @*<div id="CurrentArtistSelectedId"></div>*@
    </div>

    //==============类型下拉菜单实现=====================
    <div class="form-group">
        @Html.LabelFor(x => x.AlbumTypeName, new { @class = "col-md-2 control-label" })
        <div id="AlbumTypeSelectList"></div>@*再次通过Ajax定义selectlist*@
        @*<div id="CurrentAlbumTypeSelectedId"></div>*@
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.IssueDate, new { @class = "col-md-2 control-label" })
        @Html.TextBoxFor(x => x.IssueDate, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Issuer, new { @class = "col-md-2 control-label" })
        @Html.TextBoxFor(x => x.Issuer, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Language, new { @class = "col-md-2 control-label" })
        @Html.TextBoxFor(x => x.Language, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Price, new { @class = "col-md-2 control-label" })
        @Html.TextBoxFor(x => x.Price, new { @class = "form-control" })
    </div>

    //==================================图片上传实现
    <div class="form-group">
        @Html.LabelFor(x=>x.UrlString,new { @class="col-md-2 control-label"})
        @Html.TextBoxFor(x=>x.UrlString,new {@class ="form-control"})
        <br />
        <div id="FormContent">
            <div id="FormUpload" enctype="multipart/form-data" method="post">
                <span class="btn btn-success fileinput-button"> @*onclick="$('#UploadedFile').click();"*@
                    <i class="glyphicon glyphicon-plus"> </i> 
                        <span>添加图片</span>
                        <input type="file" name="UploadedFile" id="UploadedFile" onchange="singleFileSelected()" />                   
                </span>
                <button class="btn btn-primary start" type="button" id="Submit_btn" onclick="upFileImg()">
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>图片 保存</span>
                </button>
            </div>
            @*===================进度条*@
            <div class="processing CustomProgress">
                <div id="FileProgess" class="progress progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%;">
                    <span></span>
                </div> 
            </div>

            <div class="InfoContainer">
                <div id="Imagecontainer"></div>
                <div id="FileName" class="info">
                </div>
                <div id="FileSize" class="info">
                </div>
                <div id="FileType" class="info">
                </div>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">@ViewBag.Operation</button>

    @Html.ActionLink("取消", "Index", null, new { @class = "btn btn=default" })@*定义取消按钮，实现/GenreViewModels*@
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryuploadfile")
<script src="~/Scripts/MusicStore/Album.js"></script>