@using MVCMusicStore2019.ViewModels
@model IEnumerable<MVCMusicStore2019.ViewModels.GenreDisplayViewModel>

@{ ViewBag.Title = "流派管理";}

<h2>系统管理员 @ViewBag.Title 页面</h2>

<div class="panel panel-primary">
    <div class="panel-heading">
        @ViewBag.Title 列表
    </div>
    <table class="table table-condensed table-striped">
        <tr>
            <th>@Html.DisplayNameFor(model => model.OrderNumber)</th>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Description)</th>
        </tr>
        @if (Model == null)
        {
            <tr><td colspan="3" class="text-center">没有用户列表数据</td></tr>
        }
        else
        {
            foreach (var item in Model)
            {
                <tr>
                    <td> @Html.DisplayFor(modelItem => item.OrderNumber)</td>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Description)</td>

                    <td>
                        @using (Html.BeginForm("Delete", "ExampleGenre", new { id = item.Id }))
                       {
                            @Html.ActionLink("编辑", "CreateOrEdit", new { id = item.Id },
                            new { @class = "btn btn-primary btn-xs" })
                            <button class="btn btn-danger btn-xs" type="submit">
                                删除
                            </button>
                        }
                    </td>
                </tr>
            }
        }
    </table>
</div>
@Html.ActionLink("新建", "CreateOrEdit", null, new { @class = "btn btn-primary" })
@Html.ActionLink("取消", "Index", "ExampleGenre", null, new { @class = "btn btn-primary" })
